.little__navbar {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.coordinate__wrapper {
    width: 9rem;
    padding: .4rem;

    transition: .4s ease-in;
}

.coordinate__wrapper:hover {
    color: #fff !important;
    background-color: #000;
    border-radius: 12px;

    transition: .4s ease-in;
}

.coordinate__wrapper:hover .littlenav__text {
    color: #fff;
}

.coordinate__wrapper:hover svg {
    color: #fff !important;
}

.littlenav__text {
    width: 3rem;
    font-size: .5rem;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    color: #000;
    
    transition: .4s ease-in;
}

.navbar-text .row {
    --bs-gutter-x: 0rem;
}

.smm_icons {
    font-size: 1.2rem;
   transition: .4s ease-in;
   margin-left: .2rem;
}

.smm_icons:hover {
    cursor: pointer;
    transition: .2s ease-in;
    transform: scale(1.1);
}